{% extends "base.html" %}
{% block title %}
  Отзывы
{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Отзывы</title>
</head>
<body>
<h1>Отзывы</h1>
<hr>
<!--  <div id="wrapper">-->
<!--    <div class="container my-3">-->
<!--      <form action="" method="POST" novalidate>-->
<!--        {{ form.csrf_token }}-->
<!--        <div class="form-group">-->
<!--          <h1>Форма обратной связи</h1>-->
<!--          <label>{{ form.name.label }}</label>-->
<!--          {{ form.name(class="form-control") }}-->
<!--          {% for error in form.name.errors %}-->
<!--            <div class="alert alert-danger" role="alert">-->
<!--              <span>{{ error }}</span>-->
<!--            </div>-->
<!--          {% endfor %}-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label>{{ form.text.label }}</label>-->
<!--          {{ form.text(class="form-control") }}-->
<!--          {% for error in form.text.errors %}-->
<!--            <div class="alert alert-danger" role="alert">-->
<!--              <span>{{ error }}</span>-->
<!--            </div>-->
<!--          {% endfor %}-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label>{{ form.email.label }}</label>-->
<!--          {{ form.email(class="form-control") }}-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label>{{ form.rating.label }}</label>-->
<!--          {{ form.rating(class="form-control") }}-->
<!--        </div>-->
<!--        {{ form.submit(class="btn btn-primary btn-lg") }}-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<div class="container my-3">
    <form action="" method="POST" novalidate>
        {{ form.csrf_token }}
        <h3>Форма обратной связи:</h3>
        <div class="form-group">
            <label>{{ form.name.label }}</label>
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                <span>{{ error }}</span>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label>{{ form.text.label }}</label>
            {{ form.text(class="form-control") }}
            {% for error in form.text.errors %}
            <div class="alert alert-danger" role="alert">
                <span>{{ error }}</span>
            </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label>{{ form.email.label }}</label>
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            <label>{{ form.rating.label }}</label>
            {{ form.rating(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary btn-lg") }}
    </form>

    <hr>

    <h2>Отзывы:</h2>
    {% for feedback in feedbacks %}
    <div class="feedback">
        <h4>{{ feedback.name }} ({{ feedback.email or 'No email' }})</h4>
        <p>{{ feedback.text }}</p>
        <p>Рейтинг: {{ feedback.rating }}</p>
        <p>---</p>
    </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
{% endblock content %}